node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.angular/

.idea/
.project/
.classpath/
.cproject/
.settings/
.vscode/
.history/

.DS_Store
Thumbs.db

src/environments/environment.prod.ts
src/environments/environment.ts

npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

dist-server/